#bgc1 {
    overflow: hidden;
    background-color: #BBDFFF;
    position: fixed;
    top: 0;
    width: 100%;
    }
    div.content {
      margin-top: 63px;
      margin-left: 200px;
      padding: 1px 16px;
      height: 76px;
      position: fixed;
      width: -webkit-fill-available;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    div.table{
        overflow-y:auto;
        margin-top: 139px;
      margin-left: 200px;
      padding: 1px 16px;
      height: 560px;
      position: fixed;
      width: -webkit-fill-available;
    }
    div.row{
      margin-top: 35px;
    }
    
    .btn-group.btn{

    }
    .group{
        text-align: center;
    }